* {
    padding: 0;
    margin: 0;

}
.container{
    padding: 40px;
}

body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact{
    background-color: orangered;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

.section-one__name{
    font-size: 40px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 5px;
}

.section-two,.section-three,.section-four,.section-five{
    margin-top: 10px;
}

.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 10px;
}

.section-three{
    background-color: #6462fd;
    display: inline-block;
    color: black;
    padding: 20px;
    height: 200px;
    border-radius: 20px;
    vertical-align: top;

}
.section-four{
    background-color: #FE7518;
    display: inline-block;
    color: black;
    padding: 20px;
    height: 200px;
    border-radius: 20px;
    vertical-align: top;
}

.section-five{
    background-color: black;
    color:white;
    padding-top: 20px;
}
.section-five__title a{
    color: aqua;
}

.section-three li,.section-four li{
    list-style: none;
}
.contact-form__submit{
    background-color: orangered;
    color: black;
    padding: 10px;
    border: none;
}

.contact-form__input{
    border: none;
    border-bottom: solid black 1px;
    padding: 10px;

}
.contact-form__input,.contact-form__submit,.contact-form__textarea{
    margin-top: 10px;
}

.contact-form__textarea{
    border: none;
    border: solid black 1px;
    padding: 10px;
